@import url('https://fonts.googleapis.com/css?family=Aladin|Allan|Architects+Daughter|Asset');

html {
    background-color: black;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    word-break: keep-all;
    background-color: white;
}

img {
    width: 100%;
}

[alt$="02"] {
    display: none;
}

h1 {
    font-family: Architects Daughter;
    font-size: 26px;
}

h2 {
    font-family: Aladin;
    font-size: 14px;
}

h3 {
    font-family: Asset;
    font-size: 14px;
}

h4 {
    font-family: Allan;
    font-size: 20px;
}

[name=name] {
    width: 95%;
    border: 1px solid black;
    margin-bottom: 15px;
}

[name=email] {
    width: 95%;
    border: 1px solid black;
    margin-bottom: 15px;
}

textarea {
    width: 95%;
    border: 1px solid black;
}

#more-information {
    background-color: black;
    padding-top: 1px;
    margin-top: 5px;
}

#more-information p {
    color: white;
}

@media (min-width: 768px) {
    [alt$="02"] {
        display: initial;
    }
    img {
        width: 49%;
        /*height: 375px;*/
    }
    #bmw-logo {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 34px;
    }
    h2,
    p,
    #more-information {
        font-size: 20px;
    }
    h3 {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    #more-information {
        border: 3px solid white;
    }
}